body {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  line-height: 1.6;
  margin: 0px;
  h1, h2, h3, h4 {
    color: rgb(60, 185, 240);
    text-transform: uppercase;
  }
  

//primary Collabor8 color: rgb(60,185,240)
//secondary Collabor8 color: rgb(230, 230, 230)

//Top Section of the Index Page
  .hero {
    display: none;

    background-image: image-url('Collabor8-header2.jpg');
    background-size: cover;
    height: 500px;
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;

    filter: blur(4px);
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
  }
    
  .video-copy-section{
    display: none;
    height: 500px;
    left: 0;
    padding: 4em;
    position: absolute;
    right: 0;
    text-align: center;
    .video{
      iframe {
        height: 360px;
        width: 720px;
      }
    }
    .copy{
      padding: 0 4em;
      img {
        padding-top: 2em;
      }
      p {
        padding: 0 13%;
        text-align: left;
      }
    }
  }


//Toggle buttons to switch back and forth between the Brand and Influencer paths
  .brand-influencer-buttons {
    padding: 3em 0em;
    text-align: center;
    button {
      display: inline-block;
      margin: 0 10px 0 0;
      padding: 15px 45px;
      font-size: 16px;
      font-family: "Bitter",serif;
      line-height: 1.8;
      appearance: none;
      box-shadow: none;
      border-radius: 0;
      color: #fff;
      // text-shadow: -2px 2px #346392;
      background-color: rgb(60, 185, 240);
      background-image: linear-gradient(top, #6496c8, #346392);
      box-shadow: inset 0 0 0 1px #27496d;
      border: none;
      border-radius: 15px;
    }
    button:focus {
      outline: none
    }
    button:hover {
      box-shadow: inset 0 0 0 1px #27496d,0 5px 15px #193047;
    }
    button:active {
      box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 30px #193047;
    }
    .brand-button {
      display: inline-block;
    }
    .influencer-button {
      display: inline-block;
    }
  }
  
//Brand Path
  .brand-path{
    .why-collabor8 {
      background-color: rgb(60, 185, 240);
      color: white;
      height: 500px;
      padding: 3em 0;
      width: 100%;
      .copy {
        display: inline-block;
        padding: 6em 5em;
        width: 45%;
        h2 {
          color: white;
          text-align: center;
        }
      }
      .image {
        display: inline-block;
        float: right;
        width: 40%;
        img {
          height: 500px;
        }
      }
    }
    .brand-success-stories {
      padding: 6em;
      text-align: center;
      h2 {
        color: rgb(60, 185, 240);
        text-transform: uppercase;
      }
      p {
        margin-bottom: 3em;
      }
    }

    .gold {
      background-color: #F5F5F5;
      height: auto;
      padding: 4em;
      display: inline-block;
      .text{
        img {
          width: 20%;
        }
      }
      .image {
        img {
          display: inline-block;
          padding: 1%;
          width: 95%;
        }
        
      }
      .left {
        display: inline-block;
        width: 45%

      }
      .right {
        display: inline-block;
        float: right;
        width: 50%;
      }
    }
  }

//Influencer Path
  .influencer-path {
    display: none;



  }

//Common brand elements at the bottom of the Index Page
  .collabor8-news {
    height: 300px;
    padding-top: 5em;
    text-align: center;
    h2 {
      color: rgb(60, 185, 240);
    }
    img {
      width: 25%;
    }
  }

//Footer Styles
  footer {
    background-color: rgb(230, 230, 230);
    font-size: small;
    height: 200px;
    text-align: center;
    width: 100%;
    .row {
      padding-top: 3em;
    }
    a {
      padding: 0em 1em;
      text-decoration: none;
    }
  }

}
