body {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;

//Top Section of the Index Page
  .hero {
    // background-image: image-url('elev8-your-reach.jpg');
    background-color: #aaa;
    background-size: 100%;
    height: 400px;
    padding: 3em;
    text-align: center;
  }

  .video-copy-section{
    height: 400px;
    width: 100%;
    .video{
      float: left;
      height: 100%;
      width: 50%;
      iframe {
        height: 100%;
        width: 100%;
      }
    }
    .copy{
      float: right;
      height: 100%;
      text-align: center;
      width: 50%;
      img {
        padding-top: 2em;
      }
      p {
        padding: 0em 2em;
      }
    }
  }

//Toggle buttons to switch back and forth between the Brand and Influencer paths
  .brand-influencer-buttons {
    padding: 3em 0em;
    text-align: center;
    button {
      display: inline-block;
      margin: 0 10px 0 0;
      padding: 15px 45px;
      font-size: 48px;
      font-family: "Bitter",serif;
      line-height: 1.8;
      appearance: none;
      box-shadow: none;
      border-radius: 0;
      color: #fff;
      // text-shadow: -2px 2px #346392;
      background-color: #139dff;
      background-image: linear-gradient(top, #6496c8, #346392);
      box-shadow: inset 0 0 0 1px #27496d;
      border: none;
      border-radius: 15px;
    }
    button:focus {
      outline: none
    }
    button:hover {
      box-shadow: inset 0 0 0 1px #27496d,0 5px 15px #193047;
    }
    button:active {
      box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 30px #193047;
    }
    .brand-button {
      display: inline-block;
    }
    .influencer-button {
      display: inline-block;
    }
  }
  
//Brand Path
  .brand-path{
    .why-collabor8 {
      background-color: white;
      height: 500px;
      width: 100%;
      .copy {
        display: inline-block;
        padding: 6em 1em;
        width: 50%;
        h2 {
          text-align: center;
        }
      }
      .image {
        display: inline-block;
        float: right;
        width: 40%;
        img {
          height: 500px;
        }
      }
    }
    .brand-success-stories {
      height: 500px;
      text-align: center;
      width: 100%;
    }

    .gold {
      height: auto;
      width: 100%;
      img {
        display: inline-block;
        padding: 1%;
        width: 30%;
      }
    }
  }

//Influencer Path
  .influencer-path {



  }

//Common brand elements at the bottom of the Index Page
  .collabor8-news {
    height: 300px;
    padding-top: 5em;
    text-align: center;
    img {
      width: 25%;
    }
  }

//Footer Styles
  footer {
    background-color: rgb(230, 230, 230);
    font-size: small;
    height: 200px;
    text-align: center;
    width: 100%;
    .row {
      padding-top: 3em;
    }
    a {
      padding: 0em 1em;
      text-decoration: none;
    }
  }

}
