<footer class="footer">
  <div class='row download-app'>
    <% link_to 'https://itunes.apple.com/us/app/collabor8-connecting-brands-and-influencers/id1046316949?mt=8', target: '_blank' do %>
      <%= image_tag 'badge_appstore-lrg.svg' %>
    <% end %>
  </div>
  <div class='row links'>
    <%= link_to 'Privacy Policy', '/privacy-policy' %>
    <%= link_to 'Support', '' %>
    <%= link_to 'Terms of Use', '' %>
  </div>
</footer>