---
title: Collabor8 App
---

<div class="hero">
  <%= image_tag 'logo-small.png' %>
  <h3>[Hero Image]</h3>
</div>

<div class="video-copy-section">
  <div class="video">
    <iframe src="https://www.youtube.com/embed/eD37Le-_rhk?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="copy">
    <%= image_tag 'logo-small.png' %>
    <p>In today’s world, we believe that the most efficient way to have success and find meaning is through the relationships that we build on a daily basis. Using these relationships, we can help each other grow our networks and reach new potential customers. Collabor8 is the single best way to find and cultivate new relationships to enable influencer marketing for both brands and influencers all within a single iPhone app.</p>
    <% link_to 'https://itunes.apple.com/us/app/collabor8-connecting-brands-and-influencers/id1046316949?mt=8', target: '_blank' do %>
      <%= image_tag 'badge_appstore-lrg.svg' %>
    <% end %>
  </div>
</div>

<div class="brand-influencer-buttons row">
  <div class="brand-button">
    <button>I'm a Brand</button>
  </div>
  <div class="influencer-button">
    <button>I'm an Influencer</button>
  </div>
</div>

<div class="brand-path">
  <div class="why-collabor8">

  </div>
  <div class="brand-success-stories">
    
  </div>
  <div class="gold">
    
  </div>
  <div class="brand-testimonials">
    
  </div>
  <div class="why-influencer-marketing">
    
  </div>
</div>

<div class="influencer-path">

</div>
